<ion-tab-bar class="pm-navbar">
  <ion-tab-button routerLink="/mascota" routerLinkActive="active">
    <ion-icon name="paw-outline" />
  </ion-tab-button>
  <ion-tab-button routerLink="/citas" routerLinkActive="active">
    <ion-icon name="calendar-outline" />
  </ion-tab-button>
  <ion-tab-button routerLink="/mapa" routerLinkActive="active">
    <ion-icon name="location-outline" />
  </ion-tab-button>
  <ion-tab-button routerLink="/perfil" routerLinkActive="active">
    <ion-icon name="person-outline" />
  </ion-tab-button>
</ion-tab-bar>
